/*Base*/

* {
  margin: 0;
  padding: 0;
  transition: all 0.2s ease-in-out;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Primeiro o header*/

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 19px;
}

header {
  display: flex;
  justify-content: flex-start;
  gap: 60px;
  width: 100%;
  background-color: #ccc;
  padding: 40px;
  height: 110px;
  order: 1;
}

.aside-one,
.aside-two {
  padding: 20px 100px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.aside-one {
  order: 3;
}

.aside-two {
  order: 1;
}

.main-content {
  order: 4;
  border: 2px solid #aab;
  padding: 20px;
  width: 90%;
  max-width: 80ch;
  margin: 0 auto;
}

.main-content p {
  line-height: 2rem;
}

footer {
  font-size: 16px;
  width: 100%;
  padding: 40px;
  text-align: center;
  order: 5;
  background-color: #ccc;
}

/*Telas pequenas*/

@media screen and (max-width: 600px) {
  body {
    font-size: 16px;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    order: 1;
    font-size: 15px;
  }

  aside {
    width: 100%;
    padding: 10px 30px;
    max-width: 50ch;
    font-size: 14px;
  }

  .aside-one {
    margin-top: 130px;
    order: 2;
  }

  ul {
    list-style: none;
  }

  aside ul li {
    margin-bottom: 10px;
  }

  .main-content {
    margin-top: 30px;
    order: 3;
    max-width: 60ch;
  }

  .aside-two {
    margin-top: 10px;
    order: 4;
  }

  footer {
    margin-top: 10px;
    order: 5;
    font-size: 11px;
    padding: 10px;
  }

  footer p {
    line-height: 1.2rem;
  }
}

/*Telas médias*/

@media screen and (min-width: 601px) and (max-width: 767px) {
  body {
    font-size: 18px;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    order: 1;
  }

  .aside-one {
    border: 2px #aab solid;
    width: 60%;
    margin-top: 130px;
    order: 2;
  }

  ul {
    list-style: none;
  }

  aside ul li {
    margin-bottom: 10px;
  }

  .main-content {
    margin-top: 30px;
    order: 3;
    max-width: 75ch;
  }

  .aside-two {
    margin-top: 10px;
    order: 4;
  }

  footer {
    padding: 20px;
    margin-top: 10px;
    order: 5;
    font-size: 14px;
  }
}
