@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: white;
  }
}

body {
    padding: 40px;
}

input[type='radio'] {
    margin-left: 5px;
}

textarea {
    resize: none;
}